[submodule "mruby"]
	path = mruby
	url = https://github.com/mruby/mruby
[submodule "riscv-musl"]
	path = riscv-musl
	url = https://github.com/NervosFoundation/riscv-musl
[submodule "flatcc"]
	path = flatcc
	url = https://github.com/dvidelabs/flatcc
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/NervosFoundation/riscv-newlib
