[submodule "mruby"]
	path = mruby
	url = https://github.com/mruby/mruby
[submodule "flatcc"]
	path = flatcc
	url = https://github.com/dvidelabs/flatcc
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/nervosnetwork/riscv-newlib
[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/nervosnetwork/secp256k1
